<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{subject}}</title>
</head>
<body>
    <h1>{{subject}}</h1>
    <p>Dear {{to}},</p>
    <p>{{body}}</p>
    <p>Best regards,</p>
    <p>Your Company</p>
</body>
</html>